.container-fluid {
background-color: #236393;
padding-top:5px;
padding-left: 0;
padding-right: 0;
}
.container{
    min-width: 480px;
    max-width: 1300px;
}

.header{
background: url(../img/header_bg.png);
margin-top: 5px;
height: 80px;
}
.content{
background:url(../img/content_bg.png);
margin-bottom: 10px;
}

.col-11 .t-nav{
display: Table;
list-style: none;
margin-bottom: 0;
}
.col-11 .t-item{
display: table-cell;
text-align: right;
font: 12px Arial, Verdana, Impact, sans-serif;
width: 100%;
padding-left: 40px;
letter-spacing: 1px;
}


.col-11 a {
text-decoration: none;
font-weight: bold;
text-transform: uppercase;
color: #ffffff;
}

.col-7 a:hover{
color:#1589ee;
text-decoration: underline;
}

.left-content{
 padding:130px 20px 0 60px;

}

.right-content{
 padding-top: 70px;
 padding-right: 40px;
}

.left-content{
 color:#ffffff;
 font: 13px/1.6 Arial, Verdana, Impact, sans-serif;
 line-height:1.5;


}
.left-content h1{
  font-weight: bold;
  font-size: 45px;
  letter-spacing: 1.2px;
}
.left-content h2{
   padding-top: 20px;
    padding-bottom: 20px;
    font-size: 30x;
    
}
.left-content p{
    letter-spacing: 1px;
    font-size: 11.5px;
    line-height: 1.5;
}
.right-content img{
 width: 90%;
 margin-left: 30px;
}
.button{
    padding-top:20px;
}
.btn{
    border-radius: 18px;
    text-transform: uppercase;
    font-weight: bold;
    width: 160px;
    font: 13px/1.6 Arial, Verdana, Impact, sans-serif;
    background-color: transparent;
    border: 2px solid #ffffff;
    color: #ffffff;
   
}
.btn:hover, .btn:active {
    color:#1f3542;
    background-color:#ffffff;
 }
 .btn:last-child{
     margin-left: 15px;
 }
 .left-content .t-nav{
    display:table;
    margin-top:40px;
    float: left;
    width:50px;
    padding-left:0;
    color:#545656;
}
 .left-content .t-item{
    display: table-cell;
    text-align: left;
    
    width: 100%;
    padding-right:15px;
   
 }
 span{
    font-weight: bold;  
 }
 .left-content a{
    color:#545656;
    font: 12px Comic, Verdana, Impact, sans-serif;
 }
.left-content a:hover{
    font: 18px Comic, Verdana, Impact, sans-serif;
    color: #1589ee;
}
.availability {
    margin-top: -90px;
}
.amazing, .features {
    background-color: #ffffff;
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 15px;
    height: 150px;
}

.availability .t-nav{
    display: Table;
    list-style: none;
    width: 780px;
    float:right;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    background: url(../img/content_bg.png);
    padding-left: 0;
    z-index: 10;
    }
   .availability .t-item{
    display: table-cell;
    text-align: right;
    width: 100%;
    padding-right: 2px;
    padding-left: 2px;
   }
   .availability .t-item:last-of-type {
    padding-right:o;
   }
   .availability a{
       height: 97px;
       width: 258px;
   }
   
   .title h1, .start h1{
       text-align: center;
   }
   .title{
    height: 100%;
    background-image: url(..//img/title.png);
    background-repeat: no-repeat;
    background-position-y: 100%;
    background-position-x: center;
   }
   
  
  .phones, .more_features{
    background-color: #ffffff;
    padding-bottom: 15px;
  
  }
 
  .features{
      height: 350px;
  }
  .features h3{
      font-weight: bolder;
      padding-bottom:15px;
  }
  .features .col{
      position: relative;
      padding-right: 40px;
      padding-left: 40px;
      
  }
  .features img{
      position: absolute;
      bottom: 110px;
      right: 140px;
      left: 140px;
  }
  .features a, .circle-left a, .circle-right a{
      display:block;
      color:#1f3542;
  }
  .features a:hover, .circle-left a:hover, .circle-right a:hover {
    color:#1589ee;
    text-decoration: none;
  }
 
  .features p:hover, .features p, .circle-left p, .circle-left p:hover, .circle-right p, .circle-right p:hover{
   color:grey;
  }
  .easy{
      height: 100px;
      background-image: url(..//img/easy.png);
      background-repeat: no-repeat;
      background-position-y: top; 
      background-position-x: center;
      margin-bottom: 10px;
  }

  .heart{
    height: 100px;
    background-image: url(..//img/heart.png);
    background-repeat: no-repeat;
    background-position-y: top; 
    background-position-x: center;
    margin-bottom: 10px;
    
}
.unlimited{
    height: 100px;
    background-image: url(..//img/unlimited.png);
    background-repeat: no-repeat;
    background-position-y: top; 
    background-position-x: center;
    margin-bottom: 10px;
}
  .how{
      height: 150px;
      padding-bottom: 50px;
  }
  .blue_install, .how, .download{
      background-color: #2B8CD9;
      color: #ffffff;
      padding-top: 50px;
      padding-right: 50px;
      padding-bottom: 15px;
  }
  .installation, .image_tabs {
      padding-left: 70px;
      
  }
  .installation img {
      float:left;
      
  }
  .list p, .list h3{
      margin-left:50px;
      padding-left: 25px;
  }
  .list{
      padding-top: 40px;
  }
  .more_features{
        height: 630px;
        padding-bottom: 20px;
    }
  .more_features h3{
      font-size:20px;
      font-weight: bold;
  }
  .right{
      margin-left:25px;
  }
  .left{
      margin-right:25px;
  }
  .circle-right img{
      float: right;
      margin-left:15px;
  }
  .right h3, .right p{
    padding-left: 15px;
    text-align: right;
    padding-top: 10px;
      
  }
  .right p, .left p{
    font: 12px Comic, Verdana, Impact, sans-serif;  
  }
  .left, .right{
      padding-bottom: 50px;
  }
  .circle-left img {
      float:left;
      margin-right: 15px;
      
  }
  .left p, .left h3{
   padding-top:10px;
    padding-left: 25px; 
    text-align:left;
  }
 
  .circle-left, .circle-right{
      padding: 130px 0 0 0;
  }
  .circle-right{
      padding-left: 10px;
  }
  .circle-left{
    padding-right: 10px;
  }
 
 .iphone{
     background-image: url(..//img/iphone6.png);
     background-repeat: no-repeat;
     background-position-x: center;
 }
  #bag{
      margin-right: 25px;
      margin-left: 0;
  }
  #middle{
      margin-left: 25px;
      margin-right:0;
  }
  .download{
    height: 280px;
    padding-top: 80px;
  }
  .start{
    height: 100%;
    background-image: url(..//img/title.png);
    background-repeat: no-repeat;
    background-position-y: 40%;
    background-position-x: center;
  }
  .store_btn{
      border:none;
      background-color: transparent;
      margin-top:-60px;
      
  }
 
  .store_btn img{
    border-radius: 100px;
  }
  .view{
      background-color: #ffffff;
      height:150px;
  }